body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.touchpad {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.soundfield {
  width: 50%;
  height: 50%;
}

.soundfield--turquoise {
  background-color: #C0B4FE
}

.soundfield--pink {
  background-color: #E6A3BE
}

.soundfield--green {
  background-color: #B4FEC7
}

.soundfield--yellow {
  background-color: #E8E492;
}

.sidebar__toggle-button {
  position: absolute;
  left: 2em;
  top: 2em;
}

.toolbar__edit {
  position: absolute;
  left: 4em;
  top: 2em;
}